
<header><h1>Angular Router APP</h1></header>

<div class="container">
 
    <nav>
        <a class="button"
        routerLink="/login"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page">
        Iniciar Sesion
        </a> 
        <a class="button"
            routerLink="/registro"
            routerLinkActive="activebutton"
            ariaCurrentWhenActive="page">
            Registrarse
        </a>
    </nav>
    <router-outlet></router-outlet>
</div>

<!-- <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
        <a class="button"
        routerLink="/login"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page">
        Iniciar Sesion
      </a> |
      <a class="button"
        routerLink="/registro"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page">
        Registrarse
      </a>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav> -->
